h1{
  /* About me */

width: 1040px;
height: 70px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 110%;
/* or 70px */
display: flex;
align-items: center;
letter-spacing: -0.025em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

}
.i{
    /* Image */

width: 576px;
height: 388px;

background: url(image.png);
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

}

body{
background: rgba(134, 151, 39, 0.356);
}
.img-1{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 120px 120px;
gap: 64px;

width: 1000px;
height: 508px;

background: rgba(113, 188, 32, 0.425);
border-radius: 0px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}
.next{
    /* Gallery */

/* Auto layout */
display: flex;
flex-direction: row;

align-items: center;
padding: 0px 50px;
gap: 100px;

width: 500px;
height: 305px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;




}
.img2{
    /* Image 1 */

width: 325.33px;
height: 305px;

background: url(image.png);
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;



}
.next1{
        /* Gallery */

/* Auto layout */
display: flex;
flex-direction: row;

align-items: center;
padding: 0px 100px;
gap: 350px;



/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.intro{
width: 400px;
height: 388px;

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}
.hobby{

width: 1040px;
height: 43px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 120%;
justify-content: center;
/* or 43px */
display: flex;
align-items: center;
letter-spacing: -0.02em;

color: #000000;


}