{% extends 'base.html' %}
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Test2.css') }}">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    

{% endblock %}

{% block body %} 
    <div class="container">
        <div class="header-wrapper">
            <h1>Ксения Прищепенкова</h1>
        </div>

        <div class="profile-card">
            <div class="profile-img">
                <img src="{{ url_for('static', filename='img/iam.jpg') }}" alt="Ксения Прищепенкова">
            </div>
            <div class="intro">
                <h2>✨ Плейбой, филантроп, не богатая дама ✨</h2>
                
                <ul class="nav-links">
                    <li><a href="#">🏠 Главная</a></li>
                    <li><a href="#">🖼️ Портфолио</a></li>
                    <li><a href="#">📞 Контакты</a></li>
                </ul>
                
                <div class="description">
                    <p>💎 Афигенно делаю сайты</p>
                    <p>⚠️ Могу сделать сайт и украсть ваши данные или деньги (шучу... или нет?)</p>
                </div>
                <div class="data">
                    <form action="" method="">
                        <input type="text" placeholder="Как вас зовут?">
                        <input type ="password" placeholder="Какой ваш пароль)))">
                        <button>✨Отправить мне деньги✨</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="hobby-section">
            <p>✨ Здесь я покажу, что могу ✨</p>
        </div>

        <div class="gallery-labels">
            <p>🤸‍♀️ Это я прыгаю</p>
            <p>😴 Это я сплю</p>
            <p>🍜 Это я кушаю</p>
        </div>

        <div class="gallery">
            <div class="gallery-item">
                <img src="{{ url_for('static', filename='img/prag.jpg') }}" alt="Я прыгаю">
            </div>
            <div class="gallery-item">
                <img src="{{ url_for('static', filename='img/sleeping.jpg') }}" alt="Я сплю">
            </div>
            <div class="gallery-item">
                <img src="{{ url_for('static', filename='img/eat.jpg') }}" alt="Я кушаю">
            </div>
        </div>

        
    </div>
{% endblock %}