{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<h1 class="content">Главная страница</h1>
<div class="content-home">
    <p>Всем привет, здесь вы сможете написать свою статью и выложить ее в общий доступ.  </p>
    <p>А также можете почитать статьи, которые уже есть в доступе.</p>
    <p>Вы можете выражаться как хотите</p>
    <p>Можете материться, писать свои мысли и планы.</p>
    <p>И даже строить свои теории заговоров... Мухехехе</p>
    
</div>
{% endblock %}